<div class="container mt-4">
    <h3>Save new appliation credentials</h3>
    <form id="inputIpForm">
        <div class="mb-3">
            <label for="application_input" class="form-label">Application name:</label>
            <input class="form-control" id="application_input" type="text" placeholder='Enter application name'>
        </div>

        <div class="mb-3">
            <label for="user_input" class="form-label">Username:</label>
            <input class="form-control" id="user_input" type="text" placeholder='Enter username'>
        </div>

        <div class="mb-3">
            <label for="password_input" class="form-label">Password:</label>
            <input class="form-control" id="password_input" type="password" placeholder='Enter password'>
        </div>

        <button type="button" class="btn btn-primary" id="save_btn">Save</button>
    </form>
</div>
<div class="container mt-4">
    <h3>Credentials list</h3>
</div>